div.popup {
    background: var(--background-color-3);
    overflow: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button {
    position: sticky;
    bottom: 16px;
    left: 32px;
    max-width: calc(100% - 32px);
}

.send {
    position: sticky;
    left: 16px;
    bottom: 0;
    max-width: calc(100% - 32px);
}

.block {
    background: var(--background-color-1);
    width: 100%;
    border-radius: 16px;
    border: 1px solid var(--stroke-color-1);
    padding: 16px;
}

.participant {
    gap: 8px;
    display: flex;
}

.participantImg {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.participantText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.paymentMethod {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paymentMethodSelect {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 44px;
    border-radius: 12px;
    border: 1px solid var(--stroke-color-2);
    gap: 8px;
    padding: 12px;
}

.paymentMethodSelect.selected {
    height: 60px
}

.total {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.totalItems {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.totalItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.upload {
    cursor: pointer;
    flex-shrink: 0;
}

.upload input {
    display: none;
}

.invalid {
    border-color: var(--red-color);
    color: var(--red-color);
}

.receiptContainer {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--stroke-color-1);
}

.statusBlock {
    display: flex;
    align-items: center;
    gap: 14px
}

.status {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background: var(--text-color-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px
}

.approved {
    background: var(--green-color);
}

.rejected {
    background: var(--red-color);
}