node_modules
dist
packages/webapp/.cert
docker_data
eslint.config.mjs
.prettierrc
.gitignore
packages/server/scripts
.git
.github
*.log
docker-compose*
README.md
.env*
coverage
.vscode
*.md
tests
__tests__
*.test.*
*.spec.*
.DS_Store