.leaderboard {
  display: flex;
  flex-direction: column;
}

.row {
  padding: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.head {
  border-bottom: 1px solid #d6d6d6;
}

.row > span:nth-child(2) {
  flex: 1;
}

.body {
  display: flex;
  flex-direction: column;
}
