.singleEvent {
    padding: 16px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.back {
    color: var(--tg-theme-subtitle-text-color);
    background: var(--tg-theme-secondary-bg-color);
    padding: 0 7px;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
}

.status {
    color: var(--tg-theme-destructive-text-color);
    line-height: 25px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    padding-bottom: 42px;
}

.join {
    position: fixed;
    bottom: 60px;
    height: 40px;
    border: none;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 0 20px;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    white-space: nowrap;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game {
    padding: 16px;
    border-radius: 8px;
    background: var(--tg-theme-secondary-bg-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}
