.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.4px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    gap: 8px;
    flex-shrink: 0;
}

/* Variants */
.primary {
    background-color: var(--main-color);
    color: var(--text-color-5);
}

.primary:not(.disabled):active {
    opacity: 0.6;
}

.primary.disabled {
    background: #C6CBD0;
    cursor: not-allowed;
}

.secondary {
    border: 1.5px solid var(--main-color);
    color: var(--main-color);
}

.secondary:not(.disabled):active {
    opacity: 0.6;
}

.secondary.disabled {
    border-color: var(--stroke-color-2);
    cursor: not-allowed;
}

.primary.danger {
    background: var(--red-color);
}

.secondary.danger {
    border: 1.5px solid var(--red-color);
    color: var(--red-color);
}

@media (hover: hover) {
    .primary:not(.disabled):hover {
        opacity: 0.8;
    }

    .secondary:not(.disabled):hover {
        opacity: 0.8;
    }
}

/* Sizes */
.L {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    height: 50px;
}

.S {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 42px;
}

/* Loading state */
.loading {
    position: relative;
    color: transparent !important;
    pointer-events: none;
}

.loading::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    animation: button-loading-spinner 0.8s linear infinite;
}

.primary.loading::after {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-top-color: white;
}

.secondary.loading::after {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-top-color: black;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
