.eventsPage {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;
    border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}

.eventContent {
    min-height: 150px;
    border-radius: 20px;
    width: 100%;
    background: var(--tg-theme-secondary-bg-color);
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
}

.eventHead {
    display: flex;
    gap: 5px;
}

.eventStatus {
    color: var(--tg-theme-destructive-text-color);
    font-size: 14px;
}

.eventDataTime {
    font-size: 18px;
    color: var(--tg-theme-text-color);
    line-height: 21px;
}

.eventLocation {
    font-size: 20px;
    color: var(--tg-theme-text-color);
    line-height: 27px;
}

.eventInfo {
    font-size: 15px;
    color: var(--tg-theme-subtitle-text-color);
    line-height: 21px;
    flex: 1;
}

.eventButton {
    display: block;
    border: none;
    background: var(--tg-theme-button-color);
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: var(--tg-theme-button-text-color);
    font-weight: 600;
    text-align: center;
}
