.page {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top {
    display: flex;
    align-items: center;
    gap: 4px;
}

.sortButton {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.user {
    height: 60px;
    padding: 0 16px;
    gap: 8px;
    background: var(--background-color-1);
    border: 1px solid var(--stroke-color-1);
    border-radius: 12px;
}

.user.colored:nth-child(1) {
    background: rgba(255, 204, 0, 0.1);
}

.user.colored:nth-child(2) {
    background: rgba(148, 148, 148, 0.1);
}

.user.colored:nth-child(3) {
    background: rgba(139, 66, 1, 0.1);
    margin-bottom: 16px;
}
