.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

.content {
  flex: 1;
  overflow: auto;
}

.bottomNavigation {
  flex: 0 0 50px;
  width: 100%;
  display: flex;
  border-top: 1px solid #f3f3f3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
  background: #fff;
}

.link {
  height: 50px;
  flex: 1;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
