.container {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--background-color-1);
    padding: 0 16px;
    border-radius: 12px;
    border: 1px solid var(--stroke-color-2);
    height: 48px;
    width: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.container:hover {
    border-color: var(--main-color);
}

.input::placeholder {
    color: var(--text-color-3);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.4px;
}

/* Additional input styles */
.input {
    font-size: 16px;
    color: var(--text-color-1);
    width: 100%;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input:focus {
    outline: none;
}

.input {
    -webkit-tap-highlight-color: transparent;
}

.container:has(.input:focus) {
    border-color: var(--main-color);
    box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.2);
}

.invalid {
    border-color: var(--red-color);
}

.invalid:hover {
    border-color: var(--red-color);
}

.container.invalid:has(.input:focus) {
    border-color: var(--red-color);
    box-shadow: 0 0 0 2px rgba(255, 72, 72, 0.2);
}
